h4 {
	font-family: "Palatino Linotype";
}

.modalContainer {
	display: none;
}

.overLay {
	background-color: rgba(183, 183, 179, 0.5);
	height: 100%;
	width:100%;
	position: fixed;
	top: 0;
	left: 0;
}

#modal {
	background-color: white;
	height: 400px;
	width: 800px;
	position: fixed;
	z-index: 5;
	top: 50%;
	left: 50%;
	margin-top: -200px;
	margin-left: -400px;
	border-radius: 10px;
	overflow: hidden;
}

#modal div{
	margin: 20px;
}

button {
	background-color: red;
	border-radius: 10px;
}

.modalClose {
	position:absolute;
    top:0;
    right:0;
    margin-top: 9px;
    margin-right: 10px;
}

label {
	padding-left: 5px; 
}

input {
	padding-left: 2px;
}

#form {
	display: block;
}